.center-text{
    text-align: center;
}

.margin-left{
    margin-left: 200px;
}

.margin-right{
    float: right;
    position: relative;
    margin-right: 20px;
}

.top-banner{
    height: 70px;
    position: relative;
}

.loginDiv{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
}

.caption p{
    font-size: 14px;
}

.caption a:link{
    color: #fff;
}

.caption a:visited{
    color: #fff;
}

ul.product{
    list-style-type: none;
}

.description{
    width: 70%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.description p{
    font-size: 15px;
}

.thumbnail{
    height: 650px;
}

.thumbnail img{
    max-height: 330px;
}

.pagination-links{
    margin: 0 auto;
    width: 200px;
}


.checkoutButton a:link, .checkoutButton a:visited{
    color: #fff;
}

.checkoutTable tr:first-child th {
    background: #333;
    color: #fff;
}
.checkoutTable tr:nth-child(even) {
    background-color: #BDADA8;
    color: #333;
}

.checkoutTable tr:nth-child(odd) {
    background-color: #DBCCC8;
    color: #333;
}

.checkoutForm{
    position: relative;
    border: 1px solid #fff;
    background-color: #CEE0C8;
    padding: 10px 50px 10px 30px;
    margin: 20px 0 20px 0;
}

.checkoutForm label{
    font-weight: normal;
}

.checkoutMessage p{
    font-size: 12px;
}

.checkoutInfo{
    margin: 15px;
}

.checkoutInfo p{
    font-size: 15px;
}

.normal-font p{
    font-size: 15px;
    font-weight: normal;
}